.header {
  position: fixed;
  background-color: #000;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  max-width: 100vw;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
  color: #fff;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  justify-items: center;
  padding: 10px;
}

a:hover {
  opacity: 0.5;
}

/* Top */

.header__menu {
  display: none;
}
.header__menu li {
  cursor: pointer;
}

.header__logo img {
  width: 100px;
}
.header__time {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__lng {
  background-color: #000;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 18px;
}

/* Bottom */

.header__contacts {
  display: none;
}
.header__contacts img {
  width: 40px;
  height: 40px;
}
/* Mobile navigation  */
.header__menu--open {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(100vh - 126px);
  top: 126px;
  background: #000;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-bottom: 250px;
}

.header__menu > .header__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: row;
}

.menu__item--logo {
  display: none;
}

.header__contacts {
  flex: 1;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  .header__logo {
    display: none;
  }

  .menu__item--logo a > img {
    width: 100px;
  }
  .menu__item--logo {
    display: block;
  }
  .header__contacts {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    flex-direction: column;
  }
}
@media screen and (min-width: 968px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__container {
    grid-template-columns: 150px 1fr 150px;
  }
  .header__contacts {
    flex-direction: row;
    gap: 10px;
  }
}
