.main-container {
  background: url("https://ladybarber.com.ua/img/bgg.png") no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.main-container__title {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 30px;
}

.main-container__text {
  line-height: 1.2;
}
