@import "./Header/header.css";
@import "./footer.css";
@import "./main//mainInfo.css";
@import "./Header/burger-menu.css";
@import "./main/price.css";
@import "./main/barbers.css";
@import "./main/lookbook.css";
@import "./main/btn-call.css";
@import "./main/media-fixed.css";

body {
  font-family: Montserrat Extralight, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  padding: 30px 10px;
}

.title {
  font-family: Montserrat Black;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 30px;
  text-align: center;
}
