@import "./Header/header.css";
@import "./footer.css";
@import "./main//main-info.css";
@import "./Header/burger-menu.css";
@import "./Main/price.css";
@import "./Main/barbers.css";
@import "./Main/lookbook.css";
@import "./Main/btn-call.css";
@import "./Main/media-fixed.css";
@import "./Main/swiper.css";

* {
  box-sizing: border-box;
}
body {
  font-family: Montserrat Extralight, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 200px;
  padding: 30px 10px;
  box-sizing: border-box;
}

.title {
  font-family: Montserrat Black;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 30px;
  text-align: center;
}
.overflow-hidden {
  overflow: hidden;
}
